l {
  display: block;
  height: 1px;
  border-top: 1px solid black;
  margin: 1em 0;
}
.head {
  font-family: "Bookman Old Style";
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: white;
  text-align: center;
  margin: 30;
}
.lbutton {
  background: #2C6ACB;
  border: 2px solid #2C6ACB;
  font-weight: bold;
  color: white;
  font-family: "Bookman Old Style";
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
.mainlevel {
  
}
.maingoals {
  
}
.mainlang {
  
}
.he {
  background: #2C6ACB;
  border: 2px solid #2C6ACB;
  font-weight: bold;
  color: lightgray;
  font-family: "Bookman Old Style";
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  margin: 0;
}
.su {
  background: #2C6ACB;
  border: 2px solid #2C6ACB;
  font-weight: bold;
  color: white;
  font-family: "Bookman Old Style";
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  margin: 0;
}
.buttons {
  background: #2C6ACB;
  border: 2px solid #2C6ACB;
  font-weight: bold;
  color: white;
  font-family: "Bookman Old Style";
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
.lbutton:hover {
  background: lightblue;
  cursor: pointer;
  color: gray;
}
.lbutton:active {
  transform: translateY(5px);
}
.buttons:hover {
  background: lightblue;
  cursor: pointer;
  color: gray;
}
.buttons:active {
transform: translateY(5px);
}
.all {
  background: #2C6ACB;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  padding: 5;
  margin: 0;
}  
