l {
  display: block;
  height: 1px;
  border-top: 1px solid black;
  margin: 1em 0;
}
.h {
  background: #2C6ACB;
  font-family: "Bookman Old Style";
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: white;
  border: 2px solid black;
  text-align: center;
  padding: 5;
  margin: 10 0 0 0;
}
.lbutton {
  background: #2C6ACB;
  border: 2px solid #2C6ACB;
  font-weight: bold;
  color: white;
  font-family: "Bookman Old Style";
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
.buttons {
  background: #2C6ACB;
  border: 2px solid #2C6ACB;
  font-weight: bold;
  color: white;
  font-family: "Bookman Old Style";
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
.lbutton:hover {
  background: lightblue;
  cursor: pointer;
  color: gray;
}
.lbutton:active {
  transform: translateY(5px);
}
.buttons:hover {
  background: lightblue;
  cursor: pointer;
  color: gray;
}
.buttons:active {
transform: translateY(5px);
}
.sym {
  background: green;
  color: white;
  border: 2px solid black;
  margin: 2 0;
}
.sym:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.sym:active {
  transform: translateY(5px);
}
.num {
  background: blue;
  color: white;
  border: 2px solid black;
  margin: 2 0;
}
.num:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.num:active {
  transform: translateY(5px);
}
.equals {
  background: limegreen;
  border: 2px solid black;
  margin: 2 0;
}
.equals:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.equals:active {
  transform: translateY(5px);
}
.clear {
  background: red;
  color: white;
  border: 2px solid black;
  margin: 2 0;
}
#display {
  background: yellow;
  border: 2px solid black;
  margin: 5;
  font-weight: bold;
  padding: 5;
}
.clear:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.clear:active {
  transform: translateY(5px);
}
